body {
    background-color: #fafeff;
}

.center-content {
  display: flex;
  justify-content: center;
}

.nav-bar {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(150, 150, 150, 0.65);
    position: fixed;
    top: 0;
    width: 350px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.nav-bar-items {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-bar-items:hover {
    color: rgb(30, 53, 92);
}

.gold-text {
  color: #44576D;
}

.intro {
  margin-left: 2vw;
  padding-top: 60px;
}

.intro a {
  justify-content: right;
  font-family: 'Georgia', monospace;
  font-style: italic;
}

.title {
  font-size: 7vw;
}

.sub-title {
  font-size: 4vw;
}

.break-line {
  width: 90%;
  height: 2px;
  background-color: #29353C;
}