@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #111111;
}

@media screen and (max-width: 800px) {
  .header {
    color: white;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    justify-self: center;
  }

  .name {
    padding-top: 60px;
    font-size: 70px;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 600;
    grid-column: 1 / span 4;
    text-align: center;
    
  }

  .linkedIn {
    grid-row-start: 2;
    grid-column: 1;
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    padding-left: 60px;
    color: white;
    text-decoration: none;
  }

  .liImage {
    padding-left: 50px;
    padding-top: 67px;
  }

  .github {
    grid-row-start: 2;
    grid-column: 2;
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    padding-left: 55px;
    color: white;
    text-decoration: none;
  }

  .ghImage {
    padding-left: 50px;
    padding-top: 67px;
  }


  .personal-links {
    grid-row-start: 2;
    padding-top: 60px;
    text-align: center;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    background-color: rgba(31, 31, 31, 0.85);
    padding: 10px;
    justify-content: center;
    width: 350px;
    justify-self: center;
    column-gap: 15px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6));
    position: fixed;
  }

  .nav-bar a {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
  }

  .nav-bar a:hover {
    background-color: rgba(54, 54, 54, 0.6);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transition: background-color 0.3s ease;
  }
}

@media screen and (min-width: 801px) {
  .header {
    color: white;
    text-align: left;
    padding-top: 7px;
    padding-left: 7px;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-style: italic;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    background-color: rgba(31, 31, 31, 0.85);
    padding: 10px;
    justify-content: center;
    width: 380px;
    justify-self: center;
    column-gap: 15px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6));
    position: fixed;

  }

  .nav-bar a {
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
  }

  .nav-bar a:hover {
    background-color: rgba(54, 54, 54, 0.6);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transition: background-color 0.3s ease;
  }
}
